<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Stats</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<%- include('../partials/_navbar.ejs') %>

<h1> COMMUNITY STATS </h1>
<p> Click on a player below to see their stats! </p>

<div class = "community-stats">
  <div class = "player-stats">
    <% allPlayers.forEach((player) => { %>
      <div class = "stat-block">
        <h3> <a href="/players/<%= player._id %>"> <%= player.firstName %> <%= player.lastInitial %> (<%= player.username %>) </a> </h3>
        <div class = "stats">
          <ul>
            <li> <strong> Games Played: </strong> <%= player.totals.totalGames %> </li>
            <li> <strong> Win Rate: </strong> <%= player.averages.winPercentage %> % </li>
            <li> <strong>Total Goals: </strong> <%= player.totals.totalGoals %> </li>
            <li> <strong> Total Assists: </strong> <%= player.totals.totalAssists %> </li>
          </ul>
        </div>
      </div>
    <% }) %>
  </div>
</div>

</body>
</html>