<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>

<%- include('../partials/_navbar.ejs') %>

<h1> <%= currentPlayer.username %> Stats </h1>

<h1> TOTALS </h1>
<h2> Games: <%= currentPlayer.totals.totalGames %> </h2>



<ul>
<% gameStats.forEach((game) => { %>
    <li> <a href="/players/<%= currentPlayer._id %>/games/<%= game._id %>">
        Game <%= game.number %> - <%= game.date %> - <%= game.result %> 
    </li> </a>
<% }) %>
</ul>



</body>
</html>
