<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>

<%- include('../partials/_navbar.ejs') %>

<h1> THIS IS THE MY GAMES PAGE</h1>

<ul>
<% gameStats.forEach((game) => { %>
    <li> <a href="/users/<%= user._id %>/games/<%= game._id %>">
        Game <%= game.number %> - <%= game.date %> - <%= game.result %> 
    </li> </a>
<% }) %>
</ul>






<a href="/users/<%= user._id %>/games/new">Add New Game Stats</a>


</body>
</html>
