<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= currentUser.username %> Stats </title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<%- include('../partials/_navbar.ejs') %>

<h1> My Stats </h1>
  
<h2> <%= currentUser.firstName %> <%= currentUser.lastInitial %> (<%= currentUser.username %>) </h2>
<a href="/users/<%= user._id %>/games/new">Add New Game Stats</a>

<h3> Totals </h3>
<ul> <strong> Games Played: </strong> <%= currentUser.totals.totalGames %> </ul>
<ul> <strong> Wins: </strong> <%= currentUser.totals.totalWins %> </ul>
<ul> <strong> Draws: </strong> <%= currentUser.totals.totalDraws %> </ul>
<ul> <strong> Losses: </strong> <%= currentUser.totals.totalLosses %> </ul>
<ul> <strong> Goals: </strong> <%= currentUser.totals.totalGoals %> </ul>
<ul> <strong> Assists: </strong> <%= currentUser.totals.totalAssists %> </ul>

<h3> Averages </h3>
<ul> <strong> Win Rate: </strong> <%= currentUser.averages.winPercentage %> %</ul>
<ul> <strong> Goals per Game: </strong> <%= currentUser.averages.avgGoals %> </ul>
<ul> <strong> Assists per Game: </strong> <%= currentUser.averages.avgAssists %> </ul>
<ul> <strong> Goal Difference: </strong> <%= currentUser.averages.avgGoalDiff %> </ul>

<h3> Most Recent Game </h3>
<ul> <strong> Game #: </strong> <%= mostRecentGame.number > 0 ? mostRecentGame.number : "N/A"  %> </ul>
<ul> <strong> Date: </strong> <%= mostRecentGame.date %> </ul>
<ul> <strong> Result: </strong> <%= mostRecentGame.result %> </ul>
<ul> <strong> GD: </strong> <%= mostRecentGame.goalDiff %> </ul>
<ul> <strong> Goals: </strong> <%= mostRecentGame.goals %> </ul>
<ul> <strong> Assists: </strong> <%= mostRecentGame.assists %> </ul>


<h3> All Games </h3>
<% gameStats.forEach((game) => { %>
    <ul> <a href="/users/<%= user._id %>/games/<%= game._id %>">
        Game <%= game.number %> - <%= game.date %> - <%= game.result %> 
    </ul> </a>
<% }) %>






</body>
</html>
