<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= currentUser.username %> Game <%= currentGameStats.number %> Stats </title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<%- include('../partials/_navbar.ejs') %>

<h1> <%= currentUser.firstName %> <%= currentUser.lastInitial %> (<%= currentUser.username %>) </h1>

<h4> <a href="/users/<%= user._id %>/games">Back to My Stats</a> </h4>

<div class = "player-stats">

  <div class = "stat-block">
    <h3> Game <%= currentGameStats.number %> Stats </h3>
    <div class = "stats">
      <ul>
          <li> <strong>Game #:</strong> <%= currentGameStats.number %> </li>
          <li> <strong>Date:</strong> <%= new Date(currentGameStats.date).toDateString() %> </li>
          <li> <strong>Location:</strong> <%= currentGameStats.location %> </li>
          <li> <strong>Result:</strong> <%= currentGameStats.result %> </li>
          <li> <strong>GD:</strong> <%= currentGameStats.goalDiff %> </li>
          <li> <strong>Goals:</strong> <%= currentGameStats.goals %> </li>
          <li> <strong>Assists:</strong> <%= currentGameStats.assists %> </li>
      </ul>
    </div>
  </div>

</div>

<h4> <a href="/users/<%= user._id %>/games/<%= currentGameStats._id %>/edit">Edit Game Stats</a> </h4>

</body>
</html>
